@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

body {
  background: rgb(235, 191, 206);
  font-family: "Akaya Telivigala", cursive;
}

.container {
  display: flex;
  flex-wrap: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 1120px;
  margin: auto;
}

/* @media screen and (min-width: 79px) and (max-width: 500px) {
  .container {
    flex-direction: column;
    align-content: center;
  }
} */

@media screen and (min-width: 79px) and (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-content: center;
    width: 900px;
    justify-content: space-around;
    margin-left: 1px;
  }
}

.card {
  margin-top: 90px;
  margin-bottom: 40px;
}

img {
  width: 300px;
  height: 320px;
  border-radius: 2%;
  border: 3px solid rgb(231, 136, 168);
}

h1 {
  font-weight: 600;
  font-style: italic;
  text-align: center;
  font-size: 80px;
  border: 30px solid rgb(231, 136, 168);
  width: 800px;
  margin: auto;
  margin-top: 35px;
}

@media screen and (min-width: 79px) and (max-width: 700px) {
  h1 {
    font-size: 70px;
    align-self: center;
    margin-left: 190px;
    width: 500px;
  }
}

/* @media screen and (min-width: 501px) and (max-width: 1000px) {
  h1 {
    margin-left: 80px;
  }
} */

h2 {
  font-size: 30px;
  text-align: center;
}

h3 {
  font-size: 25px;
  text-align: center;
}

h2:hover,
img:hover,
button:hover {
  color: rgb(218, 47, 104);
  border-color: rgb(218, 47, 104);
  cursor: pointer;
}

button {
  background: rgb(240, 225, 225);
  border-radius: 10px;
  height: 50px;
  width: 140px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  left: 20px;
  top: -5px;
  margin-right: 8px;
}

.cartContainer {
  border: 7px double black;
  background: rgb(231, 136, 168);
  width: 250px;
  height: 50px;
  margin: auto;
  font-size: 22px;
  padding: 25px;
  margin-top: 50px;
  text-align: center;
}

@media screen and (min-width: 79px) and (max-width: 700px) {
  .cartContainer {
    margin-left: 320px;
  }
}

/* @media screen and (min-width: 501px) and (max-width: 1000px) {
  .cartContainer {
    margin-left: 350px;
  }
} */

.wishContainer {
  font-size: 35px;
  margin-left: 10px;
  position: absolute;
  top: 0px;
}
